/*Theme Variables*/

/* Light Theme (Default) */
:root {
    --bg-color: #ffffff;
    --text-color: #111111;
    --highlight-color: #007acc;
    --btn-bg: #f0f0f0;
    --btn-text: #111111;
  }
  
  /* Dark Theme Overriders */
  [data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #f9f9f9;
    --highlight-color: #4fa3ff;
    --btn-bg: #1e1e1e;
    --btn-text: #f9f9f9;
  }
  